@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes border-spin {
    0% {
      border-color: transparent;
    }
    25% {
      border-color: #ff6347; /* Turuncu */
    }
    50% {
      border-color: #4f46e5; /* Mor */
    }
    75% {
      border-color: #10b981; /* Yeşil */
    }
    100% {
      border-color: transparent;
    }
  }

  .animate-border-spin {
    animation: border-spin 3s infinite linear;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Hero içeriklerini etkilenmeden göstermek için */
}

.hero-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Opaklık burada */
  top: 0;
  left: 0;
  z-index: 1;
}


.img-profile {
  border: 0.5rem solid rgba(255, 255, 255, 0.2)
}

.name-field {
  color: #343a40
}

.text-primary {
  color: #a2a2a2
}

.text-secondary {
  color: #6c757d
}

.page-text-font {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  
}

.typewriter-text {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.cursor {
  display: inline-block;
  width: 0.1em;
  margin-left: 0.2em;
  animation: blink 0.7s step-end infinite;
  color: #333;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}